.input-field{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  label{
    width: 100%;
    font-family: $font-family;
    font-weight: 600;
    font-size: 20px;
  }
  .autocomplete__icon{
    position: absolute;
    bottom: 28px;
    left: 2px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-lightest;
    border-radius: 10px;
    z-index: 1;
  }

  .v-input__control{
    .v-input__slot{
      background: $white;
    }
  }

  .form-input {
    border-radius: 10px;
    margin-top: 10px;
    .v-input__slot{
      background: $white;
    }
    .v-text-field__slot, .v-select__slot{
      padding-left: 48px;
    }
  }

  .cancel-icon{
    width: 30px;
    margin-bottom: 25px;
    margin-left: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
      transform: scale(1.05);
    }
  }
}

.form-select{
  flex-wrap: nowrap;
}
