// Colors - Primary
$primary:            #8B39E5;
$primary-light:      #C59CF2;
$primary-dark:       #4C0D92;

// Colors - Secondary
$secondary-darkest:  #56657F;
$secondary-lighter:  #f7f7fa;
$secondary-lightest: #fafafa;

// Colors - Success
$success:            #4AD395;

//Colors - Gray
$gray:               #808080;
$gray-light:         #9DA8AD;
$gray-lighter:       #C7C7C7;
$gray-lightest:        #EDEEF2;
$gray-dark:          #636365;

//Color - black
$black:              #343C44;
$black-light:        #455A64;

// Colors - Other
$white:              #FFFFFF;
$danger:             #FF725E;
$inputBorderColor:   #CCD2E3;
$placeholderColor: $gray-lighter;
$dropDownItemBgColor:#F2F8FE;
$textHighlightColor: #DDD2F9;


// Fonts
$font-family: 'Mulish', sans-serif;
